{% extends 'header.html' %}
{% load static %}

{% block content %}

	<!--Password reset sent-->
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Password reset sent</h2>
  	    <hr>
  	    <p>We've emailed you instructions for setting your password. If an account exists with the email address you entered, you should receive the mail shortly.<br> If you don't receive a mail, please check that you entered the correct email address and check the spam folder.</p>
  	</div>

{% endblock %}